.btn-input{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 10px;
    /* max-width: 75vw; */
}

.btn-input>input{
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
}

.btn-input>button{
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 0 5px 5px 0;  
    background-color: #2FAF91;
    color: aliceblue; 
    border: none;
}


@media only screen and (max-width:400px) {
    .btn-input{
        width: 80%;
        overflow: hidden;
    }

    .btn-input>button,.btn-input>input{
        font-size: 0.9rem;
    }
}

.x{
    align-self: right;
    color: black;
}
@media only screen and (max-width:383px){
    .btn-input>input,.btn-input>button{
        padding: 5px;
        font-size: 0.7rem;
    }
}
