.contact-window{
    width: 75%;
    border-radius: 20px;
    height: 60vh;
    overflow-x: hidden;
    background-color: #000;
    font-size: 1rem;
    font-family: 'Fira Code', monospace;
    padding: 0;
}

input.command{
    background-color: #000;
    border: none;
    color: #fff;
    flex:1
}

.contact-window li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

input.command:focus{
    outline: none;
}

.contact-window .title{
    background-color: rgb(200, 200, 200);
    color: #000;
}