.toolBox{
    background: rgb(219,219,219);
    background: linear-gradient(90deg, rgba(219,219,219,1) 0%, rgba(255,255,255,1) 81%, rgba(222,220,220,1) 100%);
    margin: 5%;
    border-radius: 20px;
    padding: 10px 0;
}

.toolBox>.screen{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.toolBox p{
    background-color: #282c34;
    width: 17%;
    margin: 10px;
    padding: 5px 7px;
    text-align: center;
    border-radius: 10px;
}

.toolBox .controls>.box{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 5px;
}

.toolBox .controls{
    padding: 5px;
    border-bottom: 2px solid #282c34;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
}

@media only screen and (max-width:756px) {
    .toolBox p{
        font-size: 1rem;
    }
    
}


@media only screen and (max-width:500px) {
    .toolBox p{
        width: 25%;
    }   
}